# -*- coding: utf-8 -*-
##
##
## This file is part of the CERN Dashboards and Monitoring for Vidyo
## Copyright (C) 2014 European Organization for Nuclear Research (CERN)
##
## CERN Dashboards and Monitoring for Vidyo is free software: you can redistribute it and/or
## modify it under the terms of the GNU General Public License as
## published by the Free Software Foundation, either version 3 of the
## License, or (at your option) any later version.
##
## CERN Dashboards and Monitoring for Vidyo is distributed in the hope that it will be useful, but
## WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with the CERN Dashboards and Monitoring for Vidyo software.  If not, see <http://www.gnu.org/licenses/>.

# Example of the conf.py file, which contains all deployment specific configuration options.

# Django settings:

DEBUG = True                             # Also applies to TEMPLATE_DEBUG, check settings.py
SECRET_KEY = 'duo93eqxr34qw3j9r3f'       # Django secret key; make this unique, and don't share it with anybody.
ALLOWED_HOSTS = ['vidyo01.cern.ch']      # The host/domain names that this Django site can serve.

DB_SETTINGS = {
    # mysql:
    'ENGINE': 'django.db.backends.mysql',
    'NAME': 'vidyomonitoring',
    'USER': 'username',
    'PASSWORD': 'password',
    'HOST': 'localhost',
    'PORT': '3306'

    # sqlite:
    # 'ENGINE': 'django.db.backends.sqlite3',
    # 'NAME': '../db/app.db',          # Or path to database file if using sqlite3.
    # 'USER': '',                      # Not used with sqlite3.
    # 'PASSWORD': '',                  # Not used with sqlite3.
    # 'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
    # 'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
}


# Other settings:

DEBUG_LOG_PATH = '../log/debug.log'      # Debug log file path.
SOCKET_PATH = '/var/lib/nagios3/rw/live' # Nagios socket path
RAVEN_CONFIG = {
    'dsn': 'http://42e697a0484749a2bae0782af2c844d7:681a01d362d0d444592b33397be1de0@localhost:9000/2'
}
STATUS_MIN_UPDATE_INTERVAL = 5   # Minimum time between status updates, in minutes
